

.container {
    display: flex;
    gap: 10px;
}

.card-one {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-color: #FFFAFA	;
    padding: 0.5em;
    border: 2px solid #D3D3D3;
    border-radius: 0.5em;
    grid-template-areas: 
    "image-id" 
    "name"
    "content"
    "text"
    "btn-container";  
}

.card-two {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-color: #FFFAFA	;
    padding: 0.5em;
    border: 2px solid #D3D3D3;
    border-radius: 0.5em;
    grid-template-areas: 
    "picture" 
    "name"
    "content"
    "text"
    "btn-container";  
}

.picture {
    grid-column: 4 /span 5;
    grid-row: 1 /span 2; 
    margin-top: 7%;
    margin-right: 5%; 
}

.image-id {
    width: 50%;
}

.name {
    grid-column: 1 /span 3;
    grid-row: 1;
    text-align: left;
    margin-top: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: black;
}
 
.content {
    grid-column: 1 /span 3;
    grid-row: 2;
    text-align: left;
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #C0C0C0;
}

.text {
    grid-column: 1 /span 4;
    grid-row: 3 /span 4;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(31, 29, 29);
}

.btn-container {
    grid-column: 1 /span 4;
    grid-row: 5;
    margin: auto;
    position: relative;
    padding: none;
}
.btn-1 {
    background-color: white;
    color: rgb(95, 204, 123);
    padding: 0.5em 3em;
    margin: -0.2em;
     border: 0.2em solid rgb(95, 204, 123);
     border-top-left-radius: 0.4em;
     border-bottom-left-radius: 0.4em;
     cursor: pointer;
}

 .btn-2 {
    background-color: white;
    color: rgb(224, 45, 45);
    padding: 0.5em 3em;
    margin: -0.2em;
     border: 0.2em solid rgb(224, 45, 45);
     border-top-right-radius: 0.4em;
     border-bottom-right-radius: 0.4em;
     cursor: pointer;
} 
