/*font*/

h2 {
    font-family: 'Architects Daughter',
        cursive;
    font-size: 2rem;
    color: #63686a;
}

p {
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 2000;
}

.filmpje {
    color: #68bbd0;
    font-size: 1.2em;
}

/*navbar*/
.navbar {
    margin-top: -20px;
    font-family: 'Montserrat',
        sans-serif;
    flex-wrap: wrap;
    align-self: center;
}

ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 10px;
}

ul li {

    display: inline;

}

a {
    color: #293c42;
    text-decoration: none;
}


/*layouy*/

.logo {
    text-align: center;
    padding: 0 25px;
    color: #abd0c7;
}

.handlettering {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.w,
.m,
.f,
.n {
    display: block;
    border: 1px #77b3a7 solid;
    padding: 10px;
}

h2 {
    margin: 0;
}

.about {
    display: block;
    border: 1px #77b3a7 solid;
    padding: 0 10px 10px;
}

.me {
    width: 20%;
    height: auto;
    margin-left: 5px;
    border-radius: 8px;
}

.contact-title {
    margin-top: 50px;
    text-align: center;
}

.contact-title h1 {
    font-size: 32px;
}

form {
    margin-top: 20px;
}

.form-control {
    width: 400px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #293c42;
    font-size: 16px;
    margin-bottom: 16px;
}

input {
    height: 45px;
}

form .submit {
    background: #bbdedb;
    color: #293c42;
    border: 1px solid #293c42;
    border-radius: 15px;
    padding: 5px 7px;
    width: 100px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 5px;
}

.contact-title h1 {
    font-family: 'Architects Daughter',
        cursive;
    font-weight: 400;
    font-size: px;
    color: #63686a;
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    text-align: center;
    font-size: 13px;
}

/*@media*/

@media (min-width: 1024px) {
    .box {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: minmax(150px, auto);
        grid-gap: 20px;
        grid-template-areas:
            "w m"
            "f n"
    }

    .W {
        grid-area: w;
    }

    .m {
        grid-area: m;
    }

    .f {
        grid-area: f;
    }

    .n {
        grid-area: n;
    }

    .me {
        width: 10%;
        height: auto;
        margin-left: 5px;
        border-radius: 8px;
    }

    .contact-form {
        text-align: center;
    }
}