$blauw: #686de0;
$grijs: #c3cfe2;
$wit: #fff;
$donkerblauw: #1b1c40;

* {
	box-sizing: border-box;
}

body {
	background-color: $grijs;
}
img {
	max-width: 100%;
	max-height: 100%;
	margin: 0px;
}
.portfolio {
	max-width: 400%;
	margin: auto;

	&__container {
		display: grid;
		grid-template-columns: repeat(3, 2fr);
	}
}
